html, body {
    height: 100;
    width: 100;
}

.button {
    padding: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: orange;
    margin: 0 3px;
    cursor: pointer;
}

.row{
    margin: 6px;
}