.text-center{
    text-align: center;
}

.bg-red{
    background-color: red;
}

.bg-black{
    background-color: black;
}

.margin-auto{
    margin: auto;
}

.max-width-40{
    max-width: 40vw;
}

.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.items-center{
    align-items: center;
}